/* colors pallete
#416D4C
#6D4C41
#4C416D*/
body {
  position: relative;
  z-index: 0;
}

.bg {
  position: absolute;
  z-index: -5;
  background-color: #4C416D;
  min-width: 100%;
  height: 100vh;
}

#main {
  padding-top: 30vh;
}

#inlineFormInput,
#search-btn,
#random-btn {
  color: white;
  background-color: #416D4C;
  border-color: #6D4C41;
}


 /*styling for result cards*/
 #results {
   margin-top: 1rem;
 }

#dummyCard {
  width: 80%;
  min-height: 5rem;
  margin: auto;
  margin-bottom: 0.2rem;
  display: none;
}

/*remove styling from a.nostyle*/
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

/*animations*/
@keyframes slideUp {
  0% {padding-top: 30vh;}
  100% {padding-top: 5vh;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
